*{
    margin:0px;
    padding:0px;

}

.navbar{
  width:100%;
  display:flex;
  justify-content: space-around;
  background-color: rgb(26, 23, 23);
  color:white;
  align-items:center;
  padding: 1rem;
}
.logo{
    font-family: monospace;
    font-size: 2rem;
    font-weight: bolder;
}

ul {
    display: flex;
  }
  
  li {
    list-style: none;
  }
  /*position absolute always need position relative in its container*/
  ul li a {
    text-decoration: none;
    padding: 5px 1rem;
    margin: 0 10px;
    color: white;
    position: relative;
  }
  
  ul li a::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /* box-sizing: border-box; */
    border-top: 2px solid rgb(232, 228, 102);
    border-left: 2px solid rgb(232, 228, 102);
    transition: all 0.8s;
  }
  
  ul li a::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    /* box-sizing: border-box; */
    border-bottom: 2px solid rgb(232, 228, 102);
    border-right: 2px solid rgb(232, 228, 102);
    transition: all 0.8s;
  }
  
  ul li a:hover:after,
  ul li a:hover::before {
    width: 10%;
    height: 20%;
    transform: rotate(360deg);
  }